// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.table-container {
	margin: 5% auto;
}

.show-event, .event-details {
	border: 1px solid #ddd;
	background-color: RGBa(255,255,255, 0.7);
	border-radius: 6px;
	width: 80%;
	margin: 10% auto 0 auto;
	padding: 20px;
}

.event {
	border: 1px solid #ddd;
	background-color: RGBa(255,255,255, 0.7);
	border-radius: 6px;
	width: 80%;
	margin: 9% auto;
	height: 150px;
	padding: 10px;
}

.event:hover {
	background-color: white;
	transition: 0.4s;
}

cntr {
	margin-top: 20px;
}

.spacer {
	height: 100px;
}

.our-table {
	background-color: white;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 4px;
	width: 900px;
	margin: 5% auto;
}

.container {
	margin: 30px auto;
}

.bold td {
	font-weight: bold;
}

a {
	text-decoration: none;
}

a:visited {
	color: blue;
}

.smaller {
	margin-left: 5%;
	width: 30%;
}

form {
	display: block;
	margin: 5% auto;
	width: 25%;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 40px;
}

.smaller {
	width: 80%;
	margin: 3% auto;
}

#index-events {
	margin-top: 15%;
}

.user-page {
	margin-bottom: 5%;
}